@model ViewModels.HomeViewModel
@{
	ViewBag.Title = "Home Page";
}
<div class="container">
	<div class="row">
		<div class="div-sm-12 text-center" style="padding:25px">
			The Game
		</div>
	</div>
	@using(Html.BeginForm("IndexPost","Home", FormMethod.Post))
	{
	<div class="row">
		<div class="col-sm-6">
			@Html.LabelFor(model => model.Name)
			@Html.TextBoxFor(model => model.Name, "Name", new { @class = "form-control" })
		</div>
		<div style="height:1px; padding:10px;"></div>
		<div class="col-sm-6">
			@Html.LabelFor(model => model.Description)
			@Html.TextBoxFor(model => model.Description, "Description", new { @class = "form-control" })
		</div>
		<div style="height:1px; padding:10px;"></div>
		<div class="col-sm-12">
			<input class="btn btn-primary" type="submit" name="Continue" value="Continue" />
		</div>
	</div>
	}
</div>